body {
    font-family: 'Inter', sans-serif;
    margin-top: 70px 0;
    letter-spacing: 1px;
    color:wheat;
}

.hero {
    background:rgb(255, 193, 7);
    color: black;
    padding: 20px 0;
    letter-spacing: 1px;
}
/* Increase the size of the navbar */
/* Centering the image in the navbar */

.navbar {
    display: flex;
    align-items: center;  /* Centers content vertically */
    justify-content: space-between;  /* Adjust spacing between items */
    background-color:rgb(255, 193, 7);
    color: black;
    letter-spacing: 1px;
    border-bottom: 0.5px solid black;
}

/* Adjust the image inside the navbar */


.navbar-nav .nav-link{
    color:black;
    border-bottom: black; 
    transition: color 0.3s ease;
}


header{
    background-color: black;
    color: rgb(255, 193, 7);
    margin-top: 40px;
}


h2 {
    border-bottom: 3px solid rgb(255, 193, 7);
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.project {
    margin-bottom: 20px;
    color:rgb(255, 193, 7) ;
}

a {
    color: #007bff;
    text-decoration: none;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 30px;
    
}
html {
    scroll-behavior: smooth;
  }
  

